html, 
body {
	height: 100%;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.navbar-nav.h5 {font-size:1.25rem;} 
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1199px) { 
	.navbar-nav.h5 {font-size:1.20rem;}
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 1023px) {  
	.navbar-nav.h5 {font-size:1.10rem;} 
	.nav-item > a {font-size: 1.0rem;}
	#order,
	#orderAdministrator {font-size: 0.95rem;}
}
@media (min-width: 577px) and (max-width: 767px) {  
	.nav-item > a {font-size: 1.25rem;}
	ul br {display: none;}
	#order,
	#orderAdministrator {font-size: 0.9rem;}
	.modal-body {font-size: 0.9rem;}
	.carousel-caption span {
		font-size: 1.5rem; 
	}
}
@media (max-width: 576px) {
	.nav-item > a {font-size: 1.25rem;}
	ul br {display: none;}
	#order,
	#orderAdministrator {font-size: 0.9rem;}
	.modal-body {font-size: 0.8rem;}
	.carousel-caption {
		bottom: 5px;
	}
	.carousel-caption span{
		font-size: 1.25rem; 
	}
	.carousel-indicators {
		bottom: 0;
	}
}
.nav-link span {font-size: 2.0rem;}

a {
	text-decoration: none !important;
}
.menu-post {
	position: relative;
	margin-bottom: 0;
}
.menu-title {
	position: relative;
    z-index: 2;
	background-color: #fff;
	margin-right: 50px;
}
.menu-dots {
	position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    border: 0;
    height: 3px;
    display: block;
	background-image: radial-gradient(circle closest-side, #ccc 90%, #fff 10%);
    background-position: bottom;
    background-size: 6px 3px;
    background-repeat: repeat-x;
}
.menu-price  {
	position: absolute;
    right: 0;
    font-weight: 600;
    z-index: 2;
    color: red;
    background-color: #fff;
    padding-left: 5px;
}
.modal-body{
	height: 15rem;
	overflow-y: scroll;
}

.form-signin,
.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#containerChief {
	max-width: 960px;
}
.card-deck .card {
	min-width: 250px;
}
.card-header,
.list-group-item-action,
.fa-chevron-left,
.fa-chevron-right {
	cursor: pointer;
}
.card .btn-link {
	text-decoration: none;
}
section,
header,
footer {
	display: none;
}

section {
	overflow: hidden;
}

input.error {
	border: 1px solid #dc3545;
}

label.error {
	color: #dc3545;
	font-weight: normal;
}
.inProgressOrder {
	background-color: rgba(23, 162,184, 0.4);
}
.completedOrder {
	background-color: rgba(12, 247,10, 0.13);
}
.card-header {
	min-height: 57px;
}
.gif {
	top: 25%;
	left: 25%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}